.pop_wrap { position: absolute;
                padding: 15px;
                box-sizing: border-box;
                border-radius: 15px;
                width: 600px;
                height: 400px;
                background: #fff;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); /*x y 번짐 색상*/ }
.pop_wrap > h2 { margin-bottom: 25px; }
.pop_wrap p { text-align: inherit; color: #000; }
.pop_wrap p span { display: block; }
.pop_wrap .btn_group { margin-top: 38px; }