<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>환영합니다</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>AnimalHood</h1>

        <input type="hidden" id="userName" th:value="${member.name}">

        <p class="lead">돌봄요청 글 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/sitting-order">돌봄요청 글 등록</a>
            <a class="btn btn-lg btn-dark" href="/sitting-orders/1">돌본요청 글 목록</a>
        </p>

    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
</html>