<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div id="detailTable">
        <h4>회원 정보</h4>
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>회원 이름</th>
                <td th:text="${member.name}"></td>
            </tr>
            <tr>
                <th>회원 email</th>
                <td th:text="${member.email}"></td>
            </tr>

            <tr>
                <th>전화번호</th>
                <td th:text="${member.mobile}"></td>
            </tr>
            <tr>
                <th>주소</th>
                <td th:text="${member.address}"></td>

            </tr>

            </tbody>
        </table>
    </div>

    <div id="petTable">
        <h4>반려동물</h4>
        <table class="table table-striped">
            <tbody>
            <tr th:each="pet, i:${member.pet}">
                <th><img th:if="${pet.image.serverName != null}"
                         th:src="@{|/img/${pet.image.serverName}|}" style="width:140px" height="auto"></th>
                <td id="petTd" th:if="${pet.petName != null}" th:text="${pet.petName}" ></td>
                <td th:if="${pet.gubun != null}" th:text="${pet.gubun}" ></td>
                <td th:if="${pet.petAge != null}" th:text="${pet.petAge}+'살'"></td>
            </tr>
            </tbody>
        </table>

        <button id="addPetBtn" class="btn btn-primary" onclick="addPet()">반려 동물 추가</button>
    </div>

    <div style="padding: 30px 0;">
        <h4>돌봄요청 작성글</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>요청번호</th>
                <th>돌봄시작날짜</th>
                <th>돌봄종료날짜</th>
                <th>등록날짜</th>
                <th>신청자</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <tr th:each="sitting, i:${member.sittingOrders}">
                    <td id="sittingId" th:text="${sitting.id}"></td>
                    <td th:text="${#temporals.format(sitting.startDate, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${#temporals.format(sitting.endDate, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${#temporals.format(sitting.regDate, 'yyyy-MM-dd HH:mm')}"></td>
                    <td><a href="javascript:sitterPopup()">조회</a></td>

                </tr>

            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h4>돌봄요청 신청</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>신청번호</th>
                <th>신청날짜</th>
                <th>상태</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="item :${order}">
                <td th:text="${item.id}"></td>
                <td th:text="${#temporals.format(item.sitterPets[0].regDate, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${item.sitterPets[0].status}"></td>
                <td><a th:href="@{/sitting-order/detail/{id}(id=${item.id})}">조회</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="pop_group" id="addPetPopup" style="display:none">
        <div class="pop_wrap">
            <h5>반려동물 등록
                <a href="javascript:popupClose()" id="popupCloseBtn" style="font-size:30px;width:20px;float: right;">x</a>
            </h5>
        <form role="form" action="/pet" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <input type="hidden" name="memberId" id="memberId" th:value="${member.id}" />
                <label for="petName"> 이름</label>
                <input type="text" class="form-control" name="petName" id="petName">
            </div>
            <div class="form-group">
                <label for="petAge">나이</label>
                <input type="number" class="form-control" name="petAge" id="petAge"><p>세</p>
            </div>
            <div class="form-group">
                <label for="gubun">종류</label>
                <select id="gubun" name="gubun">
                    <option value="강아지">강아지</option>
                    <option value="고양이">고양이</option>
                    <option value="햄스터">햄스터</option>
                    <option value="고슴도치">고슴도치</option>
                    <option value="조류">조류</option>
                    <option value="파충류">파충류</option>
                    <option value="기타">기타</option>

                </select>
            </div>
            <div>
                <p>반려동물 사진 등록해주세요</p>
                <input type="file" name="files" multiple="multiple" />
            </div>

            <button type="submit" class="btn btn-primary" style="margin:10px; float:right;">추가</button>
        </form>
        </div>
    </div>
</div>
<script>
function addPet(){
    document.getElementById("addPetPopup").style.display="block";
}
function popupClose(){
    document.getElementById("addPetPopup").style.display="none";
}
function sitterPopup(){
    let sittingId = document.getElementById("sittingId").innerText;
    let url = "/sitting-order/sitters/" + sittingId;
    window.open(url, "_blank", "toolbar=yes,top=10,left=500,width=900,height=500");
}
</script>
</body>
</html>