<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>환영합니다</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/popup/popup.css" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div id="detailTable">
        <table class="table table-striped">

            <tbody>
            <tr>
                <th>회원 이름</th>
                <td th:text="${member.name}"></td>
            </tr>
            <tr>
                <th>회원 email</th>
                <td th:text="${member.email}"></td>
            </tr>

            <tr>
                <th>전화번호</th>
                <td th:text="${member.mobile}"></td>
            </tr>
            <tr>
                <th>주소</th>
                <td th:text="${member.address}"></td>

            </tr>
            <tr>
                <th>반려동물명</th>
                    <td id="petTd" th:if="${not #strings.isEmpty(member.pet[0].petName)}" th:text="${member.pet[0].petName}" ></td>
            </tr>
            <tr>
                <td> <img id="testImage" th:if="${member.pet[0].image[5].serverPath != null}"
                          th:src="${member.pet[0].image[5].serverPath}" style="width:140px" height="auto"></td>
            </tr>
            </tbody>
        </table>
        <button id="addPetBtn" class="btn btn-primary" onclick="addPet()">반려 동물 추가</button>
    </div>
    <div class="pop_wrap" id="addPetPopup" style="display:none">
        <form enctype="multipart/form-data" action="/image" method="POST" name="petImage">
             <input type="file" name="files" multiple="multiple" />
             <input type="submit" id="submit" value="이미지 전송"/>
        </form>
        <form role="form" action="/pet" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <input type="hidden" name="memberId" id="memberId" th:value="${member.id}" />
            <label for="petName"> 이름</label>
            <input type="text" class="form-control" name="petName" id="petName">
        </div>
            <div class="form-group">
                <label for="petAge">나이</label>
                <input type="number" class="form-control" name="petAge" id="petAge"><p>세</p>
            </div>

            <button type="submit" class="btn btn-primary">추가</button>
        </form>

    </div>
</div>
<script>
function addPet(){
    console.log("클릭 확인");
    document.getElementById("addPetPopup").style.display="block";
}
</script>
</body>
</html>