<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<div class="container">
  <div id="detailTable">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>사진</th>
        <th>이름</th>
        <th>구분</th>
        <th>나이</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="pet :${pet}">
        <th><img th:if="${pet.image.serverName != null}"
                 th:src="@{|/img/${pet.image.serverName}|}" style="width:140px" height="auto"></th>
        <td id="petTd" th:if="${pet.petName != null}" th:text="${pet.petName}" ></td>
        <td th:if="${pet.gubun != null}" th:text="${pet.gubun}" ></td>
        <td th:if="${pet.petAge != null}" th:text="${pet.petAge}+'살'"></td>
      </tr>
      </tbody>
    </table>

  </div>
  <button class="btn btn-primary" onclick="history.back()">뒤로가기</button>
</div>
</body>
</html>