<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <a href = "/sitting-order">등록하기</a>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>돌봄요청 동물</th>
                <th>회원 email</th>
<!--                <th>돌봄펫 이름</th>-->
<!--                <th>돌봄펫 나이</th>-->
                <th>시작날짜</th>
                <th>종료날짜</th>
                <th>등록 날짜</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${orders}">
<!--                <td th:text="${item.id}"></td>-->
                <td><img th:src="@{|/img/${item.member.pet[0].image.serverName}|}" style="width:100px;"></td>
                <td th:text="${item.member.email}"></td>
<!--                <td th:text="${item.pat[0].petName}"></td>-->
<!--                <td th:text="${item.pat[0].petAge}"></td>-->
                <td th:text="${#temporals.format(item.startDate, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${#temporals.format(item.endDate, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${#temporals.format(item.regDate, 'yyyy-MM-dd HH:mm')}"></td>
                <td>
<!--                    <a th:if="${item.status.name() == 'ORDER'}" href="#"-->
<!--                       th:href="'javascript:cancel('+${item.id}+')'"-->
<!--                       class="btn btn-danger">CANCEL</a>-->
                    <a th:href="@{/sitting-order/detail/{id}(id=${item.id})}">조회</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>