<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/sittingOrder" method="post">
        <input type="hidden" id="memberId" name="memberId" th:value="${member.id}">
        <div class="form-group">
            <label for="email">회원 email</label>
            <input type="text" name="email" class="form-control" id="email" th:value="${member.email}" readonly>
        </div>
        <div class="form-group">
            <h6>반려동물</h6>
            <table class="table table-striped">
                <tbody>
                <tr th:each="pet, i:${member.pet}">
                    <th><img th:if="${pet.image.serverName != null}"
                             th:src="@{|/img/${pet.image.serverName}|}" style="width:140px" height="auto"></th>
                    <td id="petTd" th:if="${pet.petName != null}" th:text="${pet.petName}" ></td>
                    <td th:if="${pet.gubun != null}" th:text="${pet.gubun}" ></td>
                    <td th:if="${pet.petAge != null}" th:text="${pet.petAge}+'살'"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <label for="strDate">돌봄요청 시작일</label>
            <input type="datetime-local" name="strDate" class="form-control" id="strDate">
        </div>
        <div class="form-group">
            <label for="endDate">돌봄요청 종료일</label>
            <input type="datetime-local" name="endDate" class="form-control" id="endDate">
        </div>
        <div class="form-group">
            <label for="detail">상세 내용</label>
            <textarea id="detail" name="detail" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="apply-btn">등록하기</button>

    </form>

    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>