<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/sittingOrder" method="post">
        <div class="form-group">
            <label for="memberId">회원id</label>
            <input type="text" name="memberId" class="form-control" id="memberId">
        </div>
        <div class="form-group">
            <label for="patName">반려동물명</label>
            <input type="text" name="patName" class="form-control" id="patName">
        </div>
        <div class="form-group">
            <label for="strDate">돌봄요청 시작일</label>
            <input type="datetime-local" name="strDate" class="form-control" id="strDate">
        </div>
        <div class="form-group">
            <label for="endDate">돌봄요청 종료일</label>
            <input type="datetime-local" name="endDate" class="form-control" id="endDate">
        </div>
        <div class="form-group">
            <label for="detail">상세 내용</label>
            <textarea id="detail" name="detail" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="apply-btn">등록하기</button>

    </form>

    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>