<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
<!--    <form role="form" action="/sittingOrder" method="post">-->
        <div class="form-group">
            <label for="memberId">회원id</label>
            <input type="text" name="memberId" class="form-control" id="memberId" th:value="${order.member.loginId}" readonly>
        </div>
        <div class="form-group">
            <label for="patName">반려동물명</label>
            <input type="text" name="patName" class="form-control" id="patName" readonly>
        </div>
        <div class="form-group">
            <label for="strDate">돌봄요청 시작일</label>
            <input type="datetime-local" name="strDate" class="form-control" id="strDate" th:value="${order.startDate}" readonly>
        </div>
        <div class="form-group">
            <label for="endDate">돌봄요청 종료일</label>
            <input type="datetime-local" name="endDate" class="form-control" id="endDate" th:value="${order.endDate}" readonly>
        </div>
        <div class="form-group">
            <label for="detail">상세 내용</label>
            <textarea id="detail" th:value="${order.detail}" th:text="${order.detail}"></textarea>
        </div>
        <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/sittingOrder/detail?id={order.id}(id=${order.id})}'|">돌봄 신청하기</button>
<!--    </form>-->
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>